<div class="col-md-12">
<br><h4>AngularJS folder, files structure</h4>

<p>SAP/ -single page app</p>
  <ul>
    <li>index.html</li>
    <li>...css/</li>
      <ul>
        <li>styles.css</li>
      </ul>
    <li>...js/</li>
      <ul>
        <li>routes.js</li>
        <li>controlers</li>
          <ul>
            <li>controller.js</li>
          </ul>
        <li>directives</li>
          <ul>
            <li>directives.js</li>
          </ul>
        <li>services</li>
          <ul>
            <li>services.js</li>
          </ul>
        <li>filters</li>
          <ul>
            <li>filters.js</li>
          </ul>
      </ul>
    <li>partials/</li>
      <ul>
        <li>view1.html</li>
        <li>view2.html</li>
        <li>view3.html</li>
        <li>view4.html</li>
  	</ul>

  </div>
