<!-- hljs start -->
<div hljs hljs-no-escape>

var sap = angular.module('sap', ['ngRoute', 'hljs']);

sap.config(['$routeProvider',function($routeProvider){
  $routeProvider.
    when('/structure', {
        templateUrl: 'sap/partials/view1.html',
        controller: 'mainCtrl'
    }).
    when('/index', {
        templateUrl: 'sap/partials/view2.html',
        controller: 'mainCtrl'
    }).
  when('/routes', {
    templateUrl: 'sap/partials/view3.html',
      controller: 'mainCtrl'
    }).
    when('/js', {
        templateUrl: 'sap/partials/view4.html',
        controller: 'mainCtrl'
    }).

    otherwise({
        redirectTo: '/structure'
    });
}
]);

</div>
<!-- hljs end -->


