<!-- hljs start -->
<div hljs hljs-no-escape>

<div ng-app="sap">

  <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js"></script>
  <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
  <script src="sap/js/routes.js"></script>
  <script src="sap/js/controllers/controller.js"></script>
  <script src="sap/js/directives/directive.js"></script>
  <script src="sap/js/filters/filter.js"></script>
  <script src="sap/js/services/service.js"></script>
  <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

  <div class="masthead">
    <h4 class="text-muted">Set-up AngularJS folder and file structure and start-up code</h4><br>
    <nav ng-controller="menuActive">
      <ul class="nav nav-justified">
        <li ng-class={'active':'/structure'===location}><a href="#/structure">Folder/Files</a></li>
        <li ng-class={'active':'/'===location}><a href="#/index">index.html</a></li>
        <li ng-class={'active':'/routes'===location}><a href="#/routes">routes.js</a></li>
        <li ng-class={'active':'/js'===location}><a href="#/js">JS</a></li>
      </ul>
    </nav>
  </div>

      <!--(PARTIALS)-->
      <div class="row" ng-view autoscroll>
      </div><!-- / -->


</div> <!-- /container -->
<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

</div>
<!-- hljs end -->


